.admin-users-container {
  padding: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-users {
  background-color: #007bff;
}

.btn-users:hover {
  background-color: #0056b3;
}

.btn-services {
  background-color: #28a745;
}

.btn-services:hover {
  background-color: #1e7e34;
}